.jumbotron {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Mr De Haviland', cursive;
    /* font-size: 100px; */
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

li {
    border-right: 1px solid white;
}

li:last-child {
    border-right: none;
}

#name {
    padding-top: 50px;
}

.navbar {
    background-color: black;
    text-align: center;
    margin-top: 1px;
}

.nav-link {
    color: white;
}

.navbar-nav {
    margin: auto;
}

.profile {
    padding-top: 30px;
    margin: auto;
    width: 50%;
    text-align: center;
}

.mainPic {
    border-radius: 50%;
    height: 50%;
    width: 50%;
    margin: auto;
    display: block;
}

.projects {
    background-color: black;
    padding-bottom: 10px;
}

.projects-banner {
    text-align: center;
    color: white;
}

.card-img-top {
    height: 45%;
    padding-top: 0px;
}

.row {
    display: flex;
    justify-content: center;
}

.card-title,
.card-text {
    text-align: center;
}

.btn {
    display: flex;
    justify-content: center;
    background-color: black;
}

.hrTwo {
    background-color: white;
}

.link-btns {
    padding-bottom: 50px;
}

.bottom-logo {
    height: 15%;
    width: 15%;
    padding-bottom: 10px;
}

.copyright {
    padding-top: 20px;
    color: grey;
}

footer {
    background-color: black;
    color: white;
    padding-top: 50px;
    padding-bottom: 25px;
    text-align: center;
}

.card-img-top {
    height: 200px;
}

@media screen and (max-width:500px){
    .navbar {
        display:none;
    }

}






/* .banner {
    min-height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./assets/Name_Banner_3.JPG");
    background-size: cover;
    background-position: center;
}

article {
    margin-left: 300px;
    margin-right: 300px;
}

.mainPic {
    max-height: 300px;
    max-width: 300px;
    margin: auto;
    display: block;
    border-radius: 50%;
}

.summary {
    font-family: sans-serif;
    margin-top: 30px;
    text-align: center;
    margin: auto;
} */

